src/main/mule/sfdc-case-creation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c68e5474-d1e9-4b42-9f23-19bd25d6dc9f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="593f2835-3db7-4b3c-b6d9-770e944d7e2d" >
		<salesforce:basic-connection username="sarav1929@salesforce.com.mulesoft" password="Monthoct@2020" securityToken="3MuEUICZDx4kvKlMT6aMof7x" />
	</salesforce:sfdc-config>
	<flow name="sfdc-case-creationFlow" doc:id="24cf76bd-a6a5-43a4-925a-ec7e46186a46" >
		<scheduler doc:name="Scheduler" doc:id="f29dbfbc-d671-47f6-b3a4-f62c7bba2dd3" >
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Transform Message" doc:id="fafcd68a-8252-4a80-a696-41e2ce31d656" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[{
"Status":"New",
"Product__c":"GC1040",
"Type":"Other",
"Origin":"Phone"
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create type="Case" doc:name="Create" doc:id="6c594742-7503-4ea9-aeb8-394f9e70d225" config-ref="Salesforce_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="057aaf4a-560d-45eb-b952-2b1829ec0e9f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0

output application/json

---

(payload.items map {

 (id:$.id)

  

 })[0]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:query doc:name="Query" doc:id="6be40de9-13a3-4db5-bfe8-1a0915e30706" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[Select id, CaseNumber from Case where id =':abc']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	abc : payload.id
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="71e4010d-4d02-4e90-8d3a-87396d7e9d68" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map {
	"ID" : $.Id,
	"CaseNumber" : $.CaseNumber
	} ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="sfdc-account-creationFlow" doc:id="735239fa-8e1a-4a98-ad9d-b6e2acd64bb7" >
		<scheduler doc:name="Scheduler" doc:id="e30b6317-89f6-406b-ae6b-a9e40a8e1904" >
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Transform Message" doc:id="19fb80d6-3f35-4e29-ba62-9b7170d53554" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[{
"name":"mulesoft"
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create type="Account" doc:name="Create" doc:id="08f8c508-d56e-4a6f-ad71-da98265c65ee" config-ref="Salesforce_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="e818f36b-0653-401a-be34-7fbec326f923" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
(payload.items map {

 (id:$.id),
 (name:$.name)

  

 })[0]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:query doc:name="Query" doc:id="c0c19abb-a6b6-4120-85a8-1e8444a869b9" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[Select id, name from Account where id = ':id']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	id : payload.id
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="5a650a85-e74b-45d9-89a6-86175a1d2afc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map {
	"Id" : $.Id,
	"Name" : $.Name
	} ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="sfdc-account-queryFlow" doc:id="b17575c2-69ef-4c53-8a9c-f916be2ad757" >
		<http:listener doc:name="Listener" doc:id="e6cb255b-3445-4633-a6f5-d31d89d0cc03" config-ref="HTTP_Listener_config" path="/query" allowedMethods="GET"/>
		<set-variable value="#[attributes.queryParams.Name default '']" doc:name="Set Variable" doc:id="6847c8d5-8522-4b35-9626-e5055fd33744" variableName="NameVar"/>
		<choice doc:name="Choice" doc:id="cf895cd8-5b02-466c-ad16-d266db65b878" >
			<when expression="#[vars.NameVar != '']">
				<salesforce:query doc:name="Query" doc:id="15d49ac5-d577-48a6-813e-edc8e97df686" config-ref="Salesforce_Config">
					<salesforce:salesforce-query ><![CDATA[Select Id, Name from Account Where Name = ':Name']]></salesforce:salesforce-query>
					<salesforce:parameters ><![CDATA[#[output application/java
---
{
	Name : vars.NameVar
}]]]></salesforce:parameters>
				</salesforce:query>
			</when>
			<otherwise >
				<salesforce:query-all doc:name="Query all" doc:id="f730f6e7-b4c0-4ff3-acbf-5a1d0351637d" config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[Select Id, Name from Account]]></salesforce:salesforce-query>
		</salesforce:query-all>
			</otherwise>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="34bffa2c-d142-4260-8048-464214b0c534" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
